

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.btn-no-underline {
    border-bottom: none;
  }

  button.btn a {
    text-decoration: none;
    color: white;
  }

  .degradado-borde-azul-navbar {
    background: linear-gradient(to bottom right, #007bff, #00bfff); /* Degradado azul */
    border: 2px solid #007bff; /* Borde azul */
    padding: 20px;
}




.degradado-borde-azul {
  max-width: 600px;
  background: linear-gradient(to bottom right, #007bff, #00bfff); /* Degradado azul */
  border: 2px solid #007bff; /* Borde azul */
  border-radius: 10px; /* Borde redondeado */
  padding: 20px; /* Espaciado interno */
  margin-top: 15px;
}

.btn-centrado {
    
  display: block !important;
  margin: 0 auto !important;
  margin-top: 5px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropzone {
  border: 2px dashed #ccc;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropzone .preview-image {
  max-width: 200%; /* Para asegurarse de que la imagen no supere el contenedor */
  max-height: 100%; /* Para asegurarse de que la imagen no supere el contenedor */
  display: block; /* Para asegurarse de que la imagen no tenga espacios vacíos debajo */
  margin: 0 auto; /* Para centrar la imagen horizontalmente */
  border-radius: 50%; /* Para hacer la imagen redonda */
}

.cardStyle {
  background: linear-gradient(to bottom right, #bcd8f5, #a3def2); /* Degradado azul */
  border: 2px solid #007bff; /* Borde azul */
  border-radius: 10px; /* Borde redondeado */
  padding: 20px; /* Espaciado interno */
  

}

.btnVolver{
  width: 80px;
  height: 50px;
}

.custom-popup {
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 10px;
}
.alert {
  padding: 4px !important;
  margin-top: 5px !important;
  border-radius: 4px !important;
  margin-bottom: 2px !important;
}
.first-name {
  font-size: 24px;
  font-weight: semibold;
  font-style: italic;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.texto-recortado {
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Número de líneas que quieres mostrar */
  -webkit-box-orient: vertical;
}
